*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*estilo del primer encabezado de la pagina*/
.encabezado1{
    display: flex;
    justify-content: center;
    align-items: center;
    background:#c93034;
    gap: 26px;
    row-gap: 26px;
    column-gap: 26px;
    width: 100%;
    height: 43px;
    min-height: 43px;
    max-height: 43px;
    font-family: "Poppins",helvetica,serif;
    font-weight: 500;
    color: white;

}
/*estilos de del inicio de sesion*/
.inicio_sesion{
    background: #204d2d;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    row-gap: 4px;
    column-gap: 4px;
    width: fit-content;
    height: 21px;
    padding: 0 9px 0 9px;
    overflow: hidden;
    font-size: 12px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
   border-radius: 8px;

}

/*segundo encabezado*/
.encabezado2{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background: #ffe800;
    height: 70px;
}

.logo{
    height: 40px;
    width: 70px;
    

}

.menu{
    display: flex;
    align-items: center;


}

.menu_icono{
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.barra_busqueda{
    display: flex;

}

.location{
    display:flex;
}

.user_options{
    display: flex;
    align-items: center;
    gap: 20px;

}

.user_options div{
    display: flex;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
}

.user_options div span{
    margin-left: 5px;
}
